@media (max-width: 768px) {
    .col-12 {
        width: 100%;    /* As colunas ampliam em telas menores */
    }

    .mb-4 {
        margin-bottom: 1.5rem; /* Aumenta o espaçamento entre as seções */
    }

    #botaoMapa {
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .form-control {
        font-size: 0.9rem; 
    }
    .bg-light {
        padding: 1.5rem; 
    }
}