body{
    font-family: 'Century Gothic', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

h1{
    /* font-size: 70px; */
    font-size: 4.375rem;
    font-weight: bold;
}

#navbarNav{
    color: #1558B7; 
    background: #fff; 

    
}
.listaMenu{
    display: flex;
    align-items: center;
}
#navbarNav :hover{
    color: #1558B7;
}

#btcontactos {
    color: #1558B7;
    background: #fff;
    border: 2px solid #1558B7;
    
}

#btcontactos:hover { 
    background: #1558B7;
    color: #ffffff;
}

.btnazul {
    color: #1558B7;
    background: #fff;
    border: 2px solid #1558B7;
    border-radius: 0%;
}

.btnazul:hover { 
    background: #1558B7;
    color: #ffffff;
}

@media (min-width: 768px) {
    .carousel-item {
      height: 500px; /* Define a altura desejada para slides em tamanhos médios e maiores */
    }
    .imagem-slide img {
      margin-top: 50px; /* Margem superior de 50px */
      margin-bottom: 50px; /* Margem inferior de 50px */
    }
  }

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



.carousel-control-prev{
    width: 5%;
}

.carousel-control-next{
    width: 5%;
    
}



#carrocel2 {
    background: #000;
}

.imagem-slide img { 
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain; /* Contém a imagem dentro da div */ 
}

#carrocel2 img{
    max-width: 100%;
    height: auto;
    max-height: 100%;  
} 
/* rever os dois acima a ver se não estaõ a fazer o mesmo */

#carrocel1 {
    background: #EDEDED;
}

#btnslide2{
    border-radius: 0%;
    border: 2px solid #fff;
    background: #000;
}

/* #btnslide2:hover{
    border-radius: 0%;
    border: 2px solid #fff;
    color: #000;
    background: #fff;
} */

#btnslide1{
    border-radius: 0%;
    border: 2px solid #1558B7;
    background: #EDEDED;
    color: #1558B7;
}

#btnslide1:hover, #btnslide2:hover {
    border-radius: 0%;
    border: 2px solid #1558B7;
    background: #1558B7;
    color: #fff;
}



/* *********************************************final do slide********************************* */








/* ******************************************************cards********************************** */

.card:hover{
    border-color: #1558B7;
}

.cardPaises a{
    text-decoration: none;
    color: inherit;
}

.cardPaises a:hover{
    text-decoration: none;
    color: inherit;
}

.cardPaises img{    
    width: auto;
    height: 200px;
    object-fit: contain; 
    object-position: center;

}
/* ********************************************final dos cards*********************************** */


/* ******************************************************css do footer************************ */
footer{
    background: #F3F3F3;
}
footer nav li{
    background: #F3F3F3;
}

#imagemfundo{
    width: 100%;
    height: auto;
}   

.listaRS{
    list-style-type: none; 
    padding: 10px; 
    /* margin: 10px;  */
    display: flex; 

}

#btnexplora{
    color: #000;
    background: #fff;
    border-radius: 0%;
    border: 1px solid #fff;
}

#btnexplora:hover{
    color: #fff;
    background-color: transparent;
    border-radius: 0%;
    border: 1px solid #fff;
}


/* *************************************************** secção EXPLORA MUNDO **************************** */
#explorarmundo{
    background-image: url('../img/cidade2.jpg');
    background-size: cover;
    background-position: center;
    display: flex; 
    align-items: center;
    justify-content: center;
    /* height: 600px; */
    display: flex; align-items: center; 
}



/* *******************************************secção contactos da homepage************************************ */

.cardContactos{
    border: 1px solid rgba(0, 0, 0, 0.1);
    
}

.cardContactos:hover{
    box-shadow:  0px 4px 34px 0px rgba(0,0,0,0.15);
    border: 0px solid #000;
    
}

.cardContactos:hover .btContactos{
    background: #1558B7;
    color: #ffffff;
    
}


/* ******************************************************************************************************** */

/* *************************************************** Contactos  **************************** */
#TextoAboutContacto {
    background-image: url('/assets/img/PORTOcontactos.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: start;
    justify-content: end;
    max-width: 40%;
}

#TextoAboutContacto h1, p {
    color:#000;
}

#contactoDivider {
    height: 50vh;
}

/* Mobile media querye */
@media (max-width: 1092px) {
    #TextoAboutContacto {
        /* background-image: none; */
        font-size: small;
        max-width: 100%;
    }

    #TextoAboutContactoHeading {
        font-size: 40px;
    }

    #contactoDivider {
        display: none;
    }
}
/* *************************************************** Contactos  **************************** */









/* *************************************************** Sobre **************************** */
#textoHeader {
    text-align: center;
}

#titulo {
    font-weight: bold;
}

#subtitulo {
    max-width: 60%;
}

#descricaoHeader {
    max-width: 70%;
}

#texto h2 {
    font-weight: bold;
    font-size: 55px;
}

#texto p {
    font-weight: bold;
    color: white;
}

#imagemProjeto img {
    background-color: #000;
    opacity: 0.80;
    width: 100vw;
}

.full-page-image {
    max-height: calc(100vh - 50px);
    min-height: calc(100vh - 150px);
    object-fit: cover; /* Cobre o objeto todo */
}

#historiaProjeto .position-absolute {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Opacidade do fundo 0.5 para dar para ler melhor */
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px; /* Arredonda os cantos da caixa */
}


/* *************************************************** Sobre **************************** */

/* *************************************************** DETALHES PAÍSES **************************** */
#header-img {
    border-radius: 10px;
    padding: 15px; 
    text-align: center;
    background-color: #f8f9fa; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

#header-img img {
    background-color: #ffffff; 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); 
    border-radius: 10px; 
    padding: 10px;
    opacity: 1;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease; 
}

#header-img img:hover {
    transform: scale(1.05); /* Efeito de zoom suave ao passar o mouse */
}

form .form-label {
    margin-top: 1.5rem;
    font-size: 1rem;
    font-weight: 600; 
    color: #333; 
    margin-bottom: 0.5rem;
}

form .form-control {
    border-radius: 8px;
    border: 1px solid #ced4da;
    padding: 0.8rem;
}

/* informações adicionais */
.infosAdd {
    background-color: rgba(255, 255, 255, 0.95); 
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    margin-top: 1.5rem;
}

.infosAdd h5 {
    color: #333;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

/* Estilo das listas */
ul.listagensInfos {
    padding-left: 20px;
}

ul.listagensInfos li {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}

#fundoGeral {
    background-color: #f4f6f9; 
    font-family: 'Arial', sans-serif;
}

/* *************************************************** DETALHES PAÍSES **************************** */



/* *************************************************** Lista de Paises **************************** */
#CardPais {
    aspect-ratio: 4 / 3; 
    margin-bottom: 20px;
}

.pagination-flat .page-link {
    border-radius: 0 !important; /* Remove o arredondamento */
    border: 1px solid #1558B7;
}

.half-screen {
    height: 50vh; /* Define a altura como metade da viewport */
}


.cardPais-Conteudo{
    border: 1px solid rgba(0, 0, 0, 0.1);
    
}

.cardPais-Conteudo:hover{
    box-shadow:  0px 4px 34px 0px rgba(0,0,0,0.15);
    border: 0px solid #000;
    scale: 1.03;
}



.cardPais-Conteudo img{
    width: auto;
    height: 200px;
    object-fit: contain; 
    object-position: center;
}
.btnVerDetalhes{
    color: #1558B7;
    background: #fff;
    border: 2px solid #1558B7;
    border-radius: 0%;
}

.btnVerDetalhes:hover { 
    background: #1558B7;
    color: #ffffff;
}

.btnFavorito{
    font-size: xx-large;
}

.labelCard{
    color: #1558B7;
    font-size: small;
    margin: 0;
}

.infoCard{
    font-weight: bold;
}

.tituloPaginaPaises{
    background: #EDEDED;
}
/* *************************************************** Lista de Paises **************************** */
